.feedback-outer {
	background: #d7dcd5;
}
.feedback {
	position: relative;
	@include clearfix;
	@include breakpoint(mobile) {
		margin-bottom: 15px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		@include breakpoint(mobile) {
			position: static;
			float: left;
		}
		img {
			position: relative;
			z-index: 6;
			box-shadow: 5px 5px 0 0 #a5b1b5;
			@include breakpoint(mobile){
				margin: 5px 15px 2px 5px;
			}
		}
	}
	&__block {
		margin: 15px 0 0 67px;
		padding: 20px 30px;
		background: #fff;
		position: relative;
		z-index: 4;
		box-shadow: 5px 5px 0 0 #738084;
		@include breakpoint(middle) {
			font-size: 0.9em;
		}
		@include breakpoint(mobile) {
			margin: 0;
			font-size: 1.1em;
		}
	}
	&__name {
		@include font(22,28,700);
		color: $deep-blue;
	}
	&__txt {
		margin: 15px 0;
		color: $grey;
	}
}
.feedback-link {
	text-align: center;
	margin-top: 30px;
	a {
		@include font(30,42,700, $font: $pt-serif);
		color: #fff;
		border-bottom: 1px solid #fff;
		position: relative;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid transparent;
			opacity: 0.66;
			&::after {
				opacity: 0.66;
			}
		}
		&::after {
			content: "";
			display: block;
			@include sprite($arrow-r);
			position: absolute;
			top: 18px;
			right: -45px;
		}
	}
}
