.footer {
	background: $bkg-footer;
	padding: 20px 0;
	.copyright,
	.infodisign {
		color: #faf3e1;
		@include font(16,44);
	}
	.infodisign {
		float: right;
	}
	.soc {
		text-align: center;
		.soc-inner {
			display: inline-block;
			background: #fff;
			padding: 3px;
			border: 1px solid #e8d2a8;
		}
		&__item {
			text-indent: -9999px;
			&--vk {
				@include sprite($soc_vk);
			}
			&--fb {
				@include sprite($soc_fb);
			}
			&--ok {
				@include sprite($soc_ok);
			}
			transition: transform 0.3 ease-out;
			&:hover {
				transform: translateY(-2px);
			}
		}
	}
}
