header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 8px;
	background: linear-gradient(to bottom, rgba(255,255,255,.66) 0%, rgba(255,255,255,1) 100%);
}
.header {
	@include layout(table);
	.logo {
		@include layout(table);
		&__item {
			&:first-child {
				width: 80px;
			}
			div {
				@include font(16,20);
				color: #3a2213;
				&:first-child {
					@include font(28,30,700, $font: $pt-serif);
					color: $deep-blue;
				}
			}
		}
	}
}
