 /* Fonts */
$open-sans: 'Open Sans', sans-serif;
$pt-serif: 'PT Serif', serif;

$default-font: $open-sans;
$base-font-size: 15;
$base-line-height: 26;
$default-color: #333;

$link: #5a8e07;
$link-hov: #5a8e07;

$header: #3c332a;

/* Colors */
$grey: #777;
$bkg-header: rgba(255,255,255,.66);
$bkg-footer: #e2c897;

